/* Allgemeine Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter Tight", sans-serif;
  scroll-behavior: smooth; /* Dies sollte sanftes Scrollen sicherstellen */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1a202c; /* Dunkler Hintergrund */
  color: #e2e8f0; /* Helle Textfarbe */
}

/* Navigation Styles */
.header {
  position: fixed;
  top: 1rem; /* Abstand vom oberen Rand */
  left: 50%;
  transform: translateX(-50%); /* Zentriert die Navigation */
  width: calc(100% - 2rem); /* Breite anpassen */
  max-width: 1200px; /* Maximale Breite für große Bildschirme */
  background-color: rgba(0, 0, 0, 0.5); /* Leicht durchsichtiger Hintergrund */
  border-radius: 15px; /* Pill-Design */
  padding: 0.5rem 1rem; /* Innenabstand */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten */
  backdrop-filter: blur(2rem); /* Blur-Effekt */
  z-index: 1;
  display: flex;
  justify-content: center; /* Zentriert die Navigation */
}

@media (min-width: 1600px) {
  .header {
    width: calc(45% - 2rem); /* Breite anpassen für große Bildschirme */
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header a {
  color: #e2e8f0;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #cbd5e0;
}

.header ul {
  display: flex;
  gap: 1rem; /* Abstand zwischen den Links */
  list-style-type: none;
}

.header ul li a {
  padding: 0.5rem 1rem;
}

/* Hide navigation links on small screens */
.nav-links {
  display: flex;
}

/* Show only the logo on small screens */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}

/* Card Styles */
.card {
  background: #2d3748; /* Dunkler Kartenhintergrund */
  margin-left: 1rem;
  margin-right: 1rem;
  border: 0.0625rem solid #4a5568; /* Dunkler Rand */
  transition: background 0.3s ease, border 0.3s ease;
}

.canvas-card {
  background: #2d374877; /* Dunkler Kartenhintergrund */
  border: 0.0625rem solid #4a5568; /* Dunkler Rand */
}

.card:hover {
  background: #4a5568; /* Hellerer Kartenhintergrund bei Hover */
  border: 0.0625rem solid #cbd5e0; /* Hellerer Rand bei Hover */
}

/* Button Styles */
button {
  transition: background 0.3s ease, border 0.3s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.1); /* Heller Hintergrund bei Hover */
}

/* Custom Headline Font */
.headline {
  font-family: "Inter Tight", sans-serif;
  font-weight: 950;
  font-style: italic;
}

/* Glassmorphism Styles */
.glass-card {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 0.0625rem solid rgba(255, 255, 255, 0.2); /* Light border */
  backdrop-filter: blur(5rem); /* Blur effect */
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Canvas Container */
.canvas-container {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Verhältnis 4:3 für den Canvas */
}

#testCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Background Circles */
.background-circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.background-circles div {
  position: absolute;
  border-radius: 50%;
  filter: blur(5rem);
  opacity: 0.2;
  will-change: transform; /* Optimize for smoother animation */
  transition: transform 0.5s ease;
}

/* Content Wrapper */
.content {
  position: relative;
  z-index: 1;
}

.color-picker input[type="color"] {
  width: 2.5rem; /* Breite der Farbauswahl */
  height: 2.5rem; /* Höhe der Farbauswahl */
  border: none;
  border-radius: 50%; /* Runde Farbauswahl */
  padding: 0;
  cursor: pointer;
}

.color-picker button {
  background: #e53e3e; /* Roter Hintergrund für den Remove Button */
  color: white;
  border: none;
  border-radius: 50%;
  width: 1.5rem; /* Breite des Buttons */
  height: 1.5rem; /* Höhe des Buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

.color-picker button:hover {
  background: #c53030; /* Dunklerer Rotton bei Hover */
}

/* Container für Color Picker Inputs */
#colorContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button:disabled {
  background-color: #4a5568; /* Dunklerer Hintergrund, wenn deaktiviert */
  cursor: not-allowed; /* Zeigt an, dass der Button nicht klickbar ist */
  opacity: 0.6; /* Reduziere die Deckkraft, um den deaktivierten Zustand anzuzeigen */
}
